{% extends "base.html" %}

{% block content %}
<h2>{{ name }}</h2>
<p>
    {% if image_url %}<img src="{{ image_url}}" align="right"/>{% endif %}
    {{ description }}
</p>

<h2>Reactions as Substrate</h2>

<img src="data:image/png;base64,{{ input_diagram }}" style="max-width: 1200px"/>

{{ reactions.head().to_html(classes="table table-hover table-striped table-responsive") | safe }}

<h2>Conditions as Substrate</h2>

{{ conditions.head().to_html(classes="table table-hover table-striped table-responsive") | safe }}


<h2>Reactions as Product</h2>

<img src="data:image/png;base64,{{ product_diagram }}" style="max-width: 1200px"/>

{% endblock %}
