{% extends "base.html" %}

{% block content %}
<h2>{{ data['Professor'] }} Group</h2>

<img src="{{data['Lab Logo'] }}" align="right"/>

<dl>
    <dt>Topic</dt>
    <dd>{{ data['Topic'] }}</dd>
    <dt>Principal Investigator</dt>
    <dd>{{ data['Professor'] }} <a href="{{ data['ORCID'] }}">orcid:{{ data['ORCID'] }}</a></dd>
    <dt>Website</dt>
    <dd><a href="{{ data['Lab Website']}}">{{ data['Lab Website']}}</a></dd>
</dl>

<h3>Team</h3>
<p>The following team members have data in the Catalaix KG:</p>
<ul>
    {% for i, row in members.iterrows() %}
    <li>
        <a href="{{ url_for('get_person', orcid=row['orcid']) }}">{{ row['name'] }}</a>
    </li>
    {% endfor %}
</ul>

<h3>Catalysts</h3>
<div class="row g-3 p-2">
    {% for catalyst_curie, catalyst_name in catalysts.values %}
    {% if catalyst_curie.startswith("CHEBI:") %}
    {{ molecule_card('get_catalyst', catalyst_curie, catalyst_name) }}
    {% endif %}
    {% endfor %}
</div>

<h3>Experiments</h3>
{{ experiments_table(conditions, show_chemist=True) }}

<h3>Literature</h3>
<table class="table table-striped table-responsive">
    <thead>
    <tr>
        <td>PubMed</td>
        <td>Date</td>
        <td>Title</td>
        <td>Is Review?</td>
    </tr>
    </thead>
    <tbody>
    {%- for _, row in literature.iterrows() %}
    <tr>
        <td><a href="{{ url_for('get_paper', pubmed=row['pubmed']) }}">{{ row['pubmed'] }}</a></td>
        <td>{{ row['date'] }}</td>
        <td>{{ row['title'] }}</td>
        <td>{{ row['is_review'] }}</td>
    </tr>
    {%- endfor %}
    </tbody>
</table>

{% endblock %}
