{% extends "base.html" %}

{% block content %}

<div class="card" style="margin-top: 2em;">
    <div class="card-header">Groups</div>
    <ul class="list-group list-group-flush">
        {% for i, row in labs.iterrows() %}
        <li class="list-group-item">
            <a href="{{ url_for('.get_group', group=row['group']) }}">{{ row['Professor'] }}</a>
            ({{ row['Topic'] }})
        </li>
        {% endfor %}
    </ul>
    <div class="card-footer">
        See also <a href="https://catalaix.com/en/team/">the official team page.</a>
    </div>
</div>

<div class="card" style="margin-top: 2em;">
    <div class="card-header">People</div>
    <ul class="list-group list-group-flush">
        {% for orcid, name in people.items() %}
        <li class="list-group-item">
            <a href="{{ url_for('.get_person', orcid=orcid) }}">{{ name }}</a> (orcid:{{ orcid }})
        </li>
        {% endfor %}
    </ul>
</div>

<div class="card" style="margin-top: 2em;">
    <div class="card-header">Closed Loops</div>
    <div class="row g-3 p-2">
        {% for name, curie, desc in closed_loops.values %}
        {{ molecule_card('get_entity', curie, name) }}
        {% endfor %}
    </div>
</div>

<div class="card" style="margin-top: 2em;">
    <div class="card-header">Catalysts</div>
    <div class="row g-3 p-2">
        {% for (catalyst_curie, catalyst_name), catalyst_df in catalysts %}
        {% if catalyst_curie.startswith("CHEBI:") %}
        {{ molecule_card('get_catalyst', catalyst_curie, catalyst_name) }}
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="card" style="margin-top: 2em;">
    <div class="card-header">Substrates</div>
    <div class="row g-3 p-2">
        {% for (substrate_curie, substrate_name), substrate_df in substrates %}
        {% if substrate_curie.startswith("CHEBI:") %}
        {{ molecule_card('get_entity', substrate_curie, substrate_name) }}
        {% endif %}
        {% endfor %}
    </div>
</div>


<div class="card" style="margin-top: 2em;">
    <div class="card-header">Products</div>
    <div class="row g-3 p-2">
        {% for (product_curie, product_name), product_df in products %}
        {% if product_curie.startswith("CHEBI:") %}
        {{ molecule_card('get_entity', product_curie, product_name) }}
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
